@model IEnumerable<OnlineShop.Models.KhachHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <td>Mã KH</td>
                <td>Tên Khách Hàng</td>
                <td>Địa chỉ</td>
                <td>Email</td>
                <td>So DT:</td>
            </tr>
           @foreach(var items in Model)
            {
            <tr>
                <td>@items.MaKH</td>
                <td>@items.TenKH</td>
                <td>@items.DiaChi</td>
                <td>@items.Email</td>
                <td>@items.SoDienThoai</td>
            </tr>
            }
            
        </table>
    </div>
</body>
</html>
